.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background: var(--bg);
  border: 1px solid grey;
  border-radius: 7px;
  padding: 15px 20px;
  width: fit-content;
  z-index: 11;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reason,
.comment,
.time {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reason label,
.comment label,
.time label {
  width: 140px;
  text-align: right;
}

.reason select,
.comment textarea,
.time input {
  width: 250px;
  box-sizing: border-box;
}

.comment {
  align-items: flex-start;
}

.comment textarea {
  height: 80px;
  resize: vertical;
}

#show-error {
  color: red;
  margin: 5px 0 0 0;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

#show-error {
  color: red;
}

#yes-btn:hover {
  color: green;
}

#no-btn:hover {
  color: red;
}